'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Atom Metaweather'
      'submenu': [
        {
          'label': 'Refresh API'
          'command': 'atom-metaweather:refresh'
        }
      ]
    ]
  }
]
