'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Atom Metaweather'
      'submenu': [
        {
          'label': 'Toggle'
          'command': 'atom-metaweather:toggle'
        },
        {
          'label': 'Settings'
          'command': 'atom-metaweather:settings'
        }
      ]
    ]
  }
]
