// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.atom-metaweather {
    color: @text-color;
    .location { color: @text-color-info; }

    span::after { font-size: 12px; }

    /* temperature icon */
    .temperature::after { content: '℃'; }

    /* humidity icon */
    .humidity::after { content: '%'; }

    /* wind icons */
    .n::after { content: "↑"; }
    .s::after { content: '↓'; }
    .e::after { content: '→'; }
    .w::after { content: '←'; }
    .ne::after { content: '↗'; }
    .nw::after { content: '↖'; }
    .se::after { content: '↘'; }
    .sw::after { content: "↙"; }

    /* predictability icon */
    .predict-bad::after { content: '■'; color: @text-color-error; }
    .predict-avg::after { content: '■'; color: @text-color-warning; }
    .predict-good::after { content: '■'; color: @text-color-success; }

}
